body{
  background: rgb(120, 171, 230)
}
h1 {
  text-align: center;
}
.caixa1 {
  position:absolute;
  background: rgb(95, 61, 104);
  width: 200px;
  height: 200px;
  color:  black;
  left: 40%
}
.caixa2 {
  position: absolute;
  background: rgb(139, 34, 172);
  width: 200px;
  height: 200px;
  color: black;
  left: 55%;
}
.MENUPRINCIPAL {
  position: absolute ;
  width: 100%;
  height:24px ;
  background-color: rgb(187, 108, 233);
  top: 0;
  left: 0;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(17, 11, 11);
  padding:5px 10px ;
  text-align:center ;
  text-decoration: none;
}
li a:hover {
  color: rgb(196, 15, 15);
  background-color: rgb(233, 218, 218);
}
#imagem {
  width: 100%;
}
.boxflorra{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 200%;
  background-color: rgb(211, 230, 105);
  top: 80px;
  left: 0;
  margin:50px ;
  border-color: black;
  border-width: 20px;
  border-style: solid;
  padding: 20px;

}